//--------------------------------------------------------------
//                        Login背景CSS
//--------------------------------------------------------------
html{
    height: 100%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}
#app{
    height: 100%;
    width: 100%;
}
.wrap-login{
    height: 100%;
    background-color: #FFA500;
    display: flex;
    justify-content: center;
    .logoImg{
        height: 20vh;
        z-index: 1;
        position: absolute;
        top: 5%;
        left: 43%;
    }
        .ballsAccountManagement{
            width: 90%;
            height: 170%;
            overflow: hidden;
            z-index: 0;
            position: absolute;
            bottom: -30%;
            left: 15%;
        .brownboll{
            position: absolute;
            transform: translateX(-50%);
            transform: translateY(-50%);
            max-width: 100%;
            top: 50%;
        }
        .orangeSmallboll{
            position: absolute;
            transform: translateX(-50%);
            transform: translateY(-50%);
            max-width: 10%;
            max-height: auto;
            top: 30%;
            right: 30%;
        }
        .orangeBigboll{
            position: absolute;
            transform: translateX(-50%);
            transform: translateY(-50%);
            max-width: 25%;
            max-height: auto;
            top: 45%;
            right: 0%;
        }
    }
}

//--------------------------------------------------------------
//                        calendar背景.JSX
//--------------------------------------------------------------
.wrap-calendar{
    height: 100%;
    background-color: #3E2E28;
    display: flex;
    justify-content: center;

    .ballsAccountManagement{
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 0;
        position: absolute;

        .orangeSmallboll{
            position: absolute;
            max-width: 8%;
            max-height: auto;
            top: 25%;
            left: 0%;
        }
        .orangeBigboll{
            position: absolute;
            max-width: 28%;
            max-height: auto;
            bottom: -10%;
            left: -5%;
        }
        .orangesuperBigboll{
            position: absolute;
            max-width: 100%;
            max-height: auto;
            bottom: 0%;
            right: -15%;
        }
    }
}


//--------------------------------------------------------------
//                        Login.JSX
//--------------------------------------------------------------

.loginContainer{
    height: 100%;
    margin: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    position: relative;
    top: 36%;

    ul{
        list-style: none;
        width: 100%;
        padding: 0;

        li{
            text-align: center;
            margin-bottom: 8%;
            height: 6%;
            font-size: 100%;

            &:last-child{
                margin-bottom: 0;
            }

            input{
                width: 100%;
                background-color: transparent;
                border: none;
                border-bottom: .1rem solid #707070;
                outline: none;
                color: #ddd;

                //     予測変換の背景色削除
                // &:-webkit-autofill{
                //     transition: background-color 9999s;
                // }
            }

            a{
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 1rem;
                transition: .2s;
                text-decoration: none;

                &:hover{
                    text-decoration: none;
                    transform: scale(.97);
                }
            }
        }
        .sendAuthenticationEmail{
            background-color: #707070;
            color: #eee;
        }
        .googleLogin{
            background-color: #fff;
            color: #333;
        }
        .workSpaceCreate{
            background-color: #FFA500;
            color: #eee;
        }
    }
}
// http://localhost:8080/login

//--------------------------------------------------------------
//                        WorkspaceCreate.JSX
//--------------------------------------------------------------

.workspaceCreateContainer{
    height: 100%;
    margin: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    position: relative;
    top: 36%;

    p{
        color: #eee;
    }
    input{
        display: flex;
    }
}

// http://localhost:8080/workspacecreate

//--------------------------------------------------------------
//                        Auth.JSX
//--------------------------------------------------------------

.authContainer{
    height: 100%;
    margin: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    position: relative;
    top: 36%;

    input{
        width: 50%;
        height: 1.5rem;
        font-size: 2rem;
        background-color: transparent;
        border: none;
        border-bottom: .1rem solid #707070;
        outline: none;
        color: #ddd;
    }
}

//--------------------------------------------------------------
//                        Shiftcalendar.JSX
//--------------------------------------------------------------

.react-calendar {
    width: 350px;
    max-width: 100%;
    background: white;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
  }
  .react-calendar--doubleView {
    width: 700px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    height: 44px;
    margin-bottom: 1em;
  }
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
  }
  .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  .react-calendar__month-view__weekNumbers {
    font-weight: bold;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
  }
  .react-calendar__month-view__days__day--weekend {
    color: #d10000;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  .react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.5em;
    background: none;
  }
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
  }
  .react-calendar__tile--now {
    background: #ffff76;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
  }
  .react-calendar__tile--hasActive {
    background: #76baff;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  .react-calendar__tile--active {
    background: #006edc;
    color: white;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #1087ff;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
  
.calendarContainer{
    height: 100%;
    margin: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .react-calendar{
        width: 60%;
        height: 95%;

        button{

            // &:hover{
            // }
            .react-calendar__tile{
                &:active{
                    background-color: #aaa;
                    border: .5px solid aqua;

                    &:enabled:hover{
                        background-color: none;
                    }
                    &:enabled:focus{
                        background-color: none;
                    }
                }
            }
        }

        .react-calendar__navigation{
            height: 10%;
            margin: 0;

            span{
                font-size: 1.7rem;
                font-weight: bold;
            }
        }
        .react-calendar__viewContainer{
            height: 100%;

            .react-calendar__month-view{
                height: 100%;

                div{
                    height: 100%;
                    div{
                        height: 100%;

                        .react-calendar__month-view__weekdays{
                            height: 5%;
                            text-align: center;

                            abbr{
                                text-decoration: none;
                            }
                        }
                        .react-calendar__month-view__days{
                            height: 85%;
                            position: relative;

                            // abbr{
                            //     font-size: 1rem;
                            //     position: absolute;
                            //     top: 5%;
                            //     left: 5%;
                            // }
                        }
                    }
                }
            }
        }
    }
}
// http://localhost:8080/shiftcalendar