//--------------------------------------------------------------
//                        背景CSS
//--------------------------------------------------------------
html{
    height: 100%;

    body{
        height: 100%;
        width: 100%;
        margin: 0;
        overflow: hidden;

        #app{
            height: 100%;
            width: 100%;

            .wrap{
                height: 100%;
                background-color: #FFA500;
                display: flex;
                justify-content: center;

                .logoImg{
                    height: 20vh;
                    z-index: 1;
                    position: absolute;
                    top: 5%;
                    left: 43%;

                }
                    .ballsAccountManagement{
                        width: 90%;
                        height: 170%;
                        overflow: hidden;
                        z-index: 0;
                        position: absolute;
                        bottom: -30%;
                        left: 15%;

                    .brownboll{
                        position: absolute;
                        transform: translateX(-50%);
                        transform: translateY(-50%);
                        max-width: 100%;
                        top: 50%;
                    }

                    .orangeSmallboll{
                        position: absolute;
                        transform: translateX(-50%);
                        transform: translateY(-50%);
                        max-width: 10%;
                        max-height: auto;
                        top: 30%;
                        right: 30%;
                    }
                    .orangeBigboll{
                        position: absolute;
                        transform: translateX(-50%);
                        transform: translateY(-50%);
                        max-width: 25%;
                        max-height: auto;
                        top: 45%;
                        right: 0%;
                    }
                }
            }
        }
    }
}

//--------------------------------------------------------------
//                        Login.JSX
//--------------------------------------------------------------

.loginContainer{
    height: 100%;
    margin: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    position: relative;
    top: 36%;

    ul{
        list-style: none;
        width: 100%;
        padding: 0;

        li{
            text-align: center;
            margin-bottom: 8%;
            height: 6%;
            font-size: 100%;

            &:last-child{
                margin-bottom: 0;
            }

            input{
                width: 100%;
                background-color: transparent;
                border: none;
                border-bottom: .1rem solid #707070;
                outline: none;
                color: #ddd;

                //     予測変換の背景色削除
                // &:-webkit-autofill{
                //     transition: background-color 9999s;
                // }
            }

            a{
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 1rem;
                transition: .2s;
                text-decoration: none;

                &:hover{
                    text-decoration: none;
                    transform: scale(.97);
                }
            }
        }
        .sendAuthenticationEmail{
            background-color: #707070;
            color: #eee;
        }
        .googleLogin{
            background-color: #fff;
            color: #333;
        }
        .workSpaceCreate{
            background-color: #FFA500;
            color: #eee;
        }
    }
}

//--------------------------------------------------------------
//                        WorkspaceCreate.JSX
//--------------------------------------------------------------

.authContainer{
    height: 5%;
    margin: 0;
    z-index: 20;
    display: flexbox;
    justify-content: center;
    position: relative;
    top: 36%;

    p{
        color: #eee;
    }
    input{
        display: flex;
    }
}