html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

#app {
  height: 100%;
  width: 100%;
}

.wrap-login {
  height: 100%;
  background-color: #FFA500;
  display: flex;
  justify-content: center;
}
.wrap-login .logoImg {
  height: 20vh;
  z-index: 1;
  position: absolute;
  top: 5%;
  left: 43%;
}
.wrap-login .ballsAccountManagement {
  width: 90%;
  height: 170%;
  overflow: hidden;
  z-index: 0;
  position: absolute;
  bottom: -30%;
  left: 15%;
}
.wrap-login .ballsAccountManagement .brownboll {
  position: absolute;
  transform: translateX(-50%);
  transform: translateY(-50%);
  max-width: 100%;
  top: 50%;
}
.wrap-login .ballsAccountManagement .orangeSmallboll {
  position: absolute;
  transform: translateX(-50%);
  transform: translateY(-50%);
  max-width: 10%;
  max-height: auto;
  top: 30%;
  right: 30%;
}
.wrap-login .ballsAccountManagement .orangeBigboll {
  position: absolute;
  transform: translateX(-50%);
  transform: translateY(-50%);
  max-width: 25%;
  max-height: auto;
  top: 45%;
  right: 0%;
}

.wrap-calendar {
  height: 100%;
  background-color: #3E2E28;
  display: flex;
  justify-content: center;
}
.wrap-calendar .ballsAccountManagement {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  position: absolute;
}
.wrap-calendar .ballsAccountManagement .orangeSmallboll {
  position: absolute;
  max-width: 8%;
  max-height: auto;
  top: 25%;
  left: 0%;
}
.wrap-calendar .ballsAccountManagement .orangeBigboll {
  position: absolute;
  max-width: 28%;
  max-height: auto;
  bottom: -10%;
  left: -5%;
}
.wrap-calendar .ballsAccountManagement .orangesuperBigboll {
  position: absolute;
  max-width: 100%;
  max-height: auto;
  bottom: 0%;
  right: -15%;
}

.loginContainer {
  height: 100%;
  margin: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  position: relative;
  top: 36%;
}
.loginContainer ul {
  list-style: none;
  width: 100%;
  padding: 0;
}
.loginContainer ul li {
  text-align: center;
  margin-bottom: 8%;
  height: 6%;
  font-size: 100%;
}
.loginContainer ul li:last-child {
  margin-bottom: 0;
}
.loginContainer ul li input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 0.1rem solid #707070;
  outline: none;
  color: #ddd;
}
.loginContainer ul li a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  transition: 0.2s;
  text-decoration: none;
}
.loginContainer ul li a:hover {
  text-decoration: none;
  transform: scale(0.97);
}
.loginContainer ul .sendAuthenticationEmail {
  background-color: #707070;
  color: #eee;
}
.loginContainer ul .googleLogin {
  background-color: #fff;
  color: #333;
}
.loginContainer ul .workSpaceCreate {
  background-color: #FFA500;
  color: #eee;
}

.workspaceCreateContainer {
  height: 100%;
  margin: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  position: relative;
  top: 36%;
}
.workspaceCreateContainer p {
  color: #eee;
}
.workspaceCreateContainer input {
  display: flex;
}

.authContainer {
  height: 100%;
  margin: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  position: relative;
  top: 36%;
}
.authContainer input {
  width: 50%;
  height: 1.5rem;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: 0.1rem solid #707070;
  outline: none;
  color: #ddd;
}

.calendarContainer {
  height: 100%;
  margin: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.calendarContainer .react-calendar {
  width: 60%;
  height: 92%;
}
.calendarContainer .react-calendar button {
  background-color: rgba(0, 0, 0, 0.3);
  color: #eee;
}
.calendarContainer .react-calendar button:hover {
  border: 2px solid #007bff;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
}
.calendarContainer .react-calendar .react-calendar__navigation {
  height: 10%;
}
.calendarContainer .react-calendar .react-calendar__navigation span {
  font-size: 1.7rem;
  font-weight: bold;
}
.calendarContainer .react-calendar .react-calendar__viewContainer {
  height: 100%;
}
.calendarContainer .react-calendar .react-calendar__viewContainer .react-calendar__month-view {
  height: 100%;
}
.calendarContainer .react-calendar .react-calendar__viewContainer .react-calendar__month-view div {
  height: 100%;
}
.calendarContainer .react-calendar .react-calendar__viewContainer .react-calendar__month-view div div {
  height: 100%;
}
.calendarContainer .react-calendar .react-calendar__viewContainer .react-calendar__month-view div div .react-calendar__month-view__weekdays {
  height: 5%;
  text-align: center;
}
.calendarContainer .react-calendar .react-calendar__viewContainer .react-calendar__month-view div div .react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}
.calendarContainer .react-calendar .react-calendar__viewContainer .react-calendar__month-view div div .react-calendar__month-view__days {
  height: 85%;
  position: relative;
}
