html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

#app {
  height: 100%;
  width: 100%;
}

.wrap-login {
  height: 100%;
  background-color: #FFA500;
  display: flex;
  justify-content: center;
}
.wrap-login .logoImg {
  height: 20vh;
  z-index: 1;
  position: absolute;
  top: 5%;
  left: 43%;
}
.wrap-login .ballsAccountManagement {
  width: 90%;
  height: 170%;
  overflow: hidden;
  z-index: 0;
  position: absolute;
  bottom: -30%;
  left: 15%;
}
.wrap-login .ballsAccountManagement .brownboll {
  position: absolute;
  transform: translateX(-50%);
  transform: translateY(-50%);
  max-width: 100%;
  top: 50%;
}
.wrap-login .ballsAccountManagement .orangeSmallboll {
  position: absolute;
  transform: translateX(-50%);
  transform: translateY(-50%);
  max-width: 10%;
  max-height: auto;
  top: 30%;
  right: 30%;
}
.wrap-login .ballsAccountManagement .orangeBigboll {
  position: absolute;
  transform: translateX(-50%);
  transform: translateY(-50%);
  max-width: 25%;
  max-height: auto;
  top: 45%;
  right: 0%;
}

.wrap-calendar {
  height: 100%;
  background-color: #aff;
  display: flex;
  justify-content: center;
}
.wrap-calendar .ballsAccountManagement {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  position: absolute;
}
.wrap-calendar .ballsAccountManagement .orangeSmallboll {
  position: absolute;
  max-width: 8%;
  max-height: auto;
  top: 25%;
  left: 0%;
}
.wrap-calendar .ballsAccountManagement .orangeBigboll {
  position: absolute;
  max-width: 28%;
  max-height: auto;
  bottom: -10%;
  left: -5%;
}
.wrap-calendar .ballsAccountManagement .orangesuperBigboll {
  position: absolute;
  max-width: 100%;
  max-height: auto;
  bottom: 0%;
  right: -15%;
}

.loginContainer {
  height: 100%;
  margin: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  position: relative;
  top: 36%;
}
.loginContainer ul {
  list-style: none;
  width: 100%;
  padding: 0;
}
.loginContainer ul li {
  text-align: center;
  margin-bottom: 8%;
  height: 6%;
  font-size: 100%;
}
.loginContainer ul li:last-child {
  margin-bottom: 0;
}
.loginContainer ul li input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 0.1rem solid #707070;
  outline: none;
  color: #ddd;
}
.loginContainer ul li a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  transition: 0.2s;
  text-decoration: none;
}
.loginContainer ul li a:hover {
  text-decoration: none;
  transform: scale(0.97);
}
.loginContainer ul .sendAuthenticationEmail {
  background-color: #707070;
  color: #eee;
}
.loginContainer ul .googleLogin {
  background-color: #fff;
  color: #333;
}
.loginContainer ul .workSpaceCreate {
  background-color: #FFA500;
  color: #eee;
}

.workspaceCreateContainer {
  height: 100%;
  margin: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  position: relative;
  top: 36%;
}
.workspaceCreateContainer p {
  color: #eee;
}
.workspaceCreateContainer input {
  display: flex;
}

.authContainer {
  height: 100%;
  margin: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  position: relative;
  top: 36%;
}
.authContainer input {
  width: 50%;
  height: 1.5rem;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: 0.1rem solid #707070;
  outline: none;
  color: #ddd;
}

.react-calendar {
  height: 95%;
  max-width: 65%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
}
.react-calendar .react-calendar__navigation__label:enabled:hover {
  cursor: default;
}
.react-calendar .react-calendar__viewContainer {
  display: flex;
  height: 92%;
}
.react-calendar .react-calendar__viewContainer .react-calendar__month-view {
  height: 100%;
}
.react-calendar .react-calendar__viewContainer .react-calendar__month-view div {
  height: 100%;
}
.react-calendar .react-calendar__viewContainer .react-calendar__month-view div div {
  height: 100%;
}
.react-calendar .react-calendar__viewContainer .react-calendar__month-view div div .react-calendar__month-view__weekdays {
  height: 5%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar .react-calendar__viewContainer .react-calendar__month-view div div .react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}
.react-calendar .react-calendar__viewContainer .react-calendar__month-view div div .react-calendar__month-view__weekdays .react-calendar__month-view__weekdays__weekday:first-child abbr {
  color: #ff5555;
}
.react-calendar .react-calendar__viewContainer .react-calendar__month-view div div .react-calendar__month-view__weekdays .react-calendar__month-view__weekdays__weekday:last-child abbr {
  color: #5555ff;
}
.react-calendar .react-calendar__viewContainer .react-calendar__month-view div div .react-calendar__month-view__days {
  height: 19%;
}

.react-calendar--doubleView {
  width: 65%;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 100%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  box-sizing: border-box;
}

.react-calendar button {
  height: 100%;
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  height: 8%;
  margin: 0;
  border-bottom: 2px solid #eee;
}
.react-calendar__navigation .react-calendar__navigation__prev-button,
.react-calendar__navigation .react-calendar__navigation__next-button {
  background-color: #fafafa;
  width: 6%;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  width: 0;
  color: rgba(0, 0, 0, 0);
}

.react-calendar__navigation button {
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
  background: none;
}

.react-calendar__navigation__prev-button:enabled:hover,
.react-calendar__navigation__prev-button:enabled:focus {
  background-color: #efefef;
  border: 1px solid #a0a096;
}

.react-calendar__navigation__next-button:enabled:hover,
.react-calendar__navigation__next-button:enabled:focus {
  background-color: #efefef;
  border: 1px solid #a0a096;
}

.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 0.75em;
}

button.react-calendar__tile.react-calendar__month-view__days__day {
  border: 0.5px solid #f5f5f5;
}

.react-calendar__month-view__days__day--weekend {
  color: none;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #efefef;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  width: 100%;
  text-align: left;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:nth-child(1), .react-calendar__tile:nth-child(8), .react-calendar__tile:nth-child(15), .react-calendar__tile:nth-child(22), .react-calendar__tile:nth-child(29) {
  background-color: #fff7f7;
}
.react-calendar__tile:nth-child(7), .react-calendar__tile:nth-child(14), .react-calendar__tile:nth-child(21), .react-calendar__tile:nth-child(28), .react-calendar__tile:nth-child(35) {
  background-color: #f7f7ff;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #E7FFEE;
}

.react-calendar__tile--now {
  justify-content: left;
  padding: 0.2rem 0 0 0.2rem;
}
.react-calendar__tile--now abbr {
  display: flex;
  width: 33px;
  height: 33px;
  color: #fff;
  background-color: #FFAA33;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  padding: 0.2rem 0 0 0.2rem;
}
.react-calendar__tile--now:enabled:hover abbr,
.react-calendar__tile--now:enabled:focus abbr {
  display: flex;
  width: 33px;
  height: 33px;
  color: #fff;
  background-color: #FFAA33;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.react-calendar__tile--hasActive {
  background: #C6F7D4;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background-color: #C6F7D4;
}

.react-calendar__tile--active {
  background-color: #C6F7D4;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: #C6F7D4;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #000;
}

.calendarContainer {
  height: 100%;
  margin: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
